.pages
	.page.no-toolbar.no-navbar(data-page='projects')
		.page-content
			.navbarpages
				.nav_left_logo
					a(href='index-2.html')
						img(src='/assets/images/logo.png', alt='', title='')
				.nav_right_button
					a(href='/parents/home')
						img(src='/assets/images/icons/white/menu.png', alt='', title='')
			#pages_maincontent
				h2.page_title Laptop | 00:11:11
					.page_content
						ul.features_list_detailed
							li
								.feat_small_icon
									img(src='/assets/images/icons/black/trophy.png', alt='', title='')
								.feat_small_details
									h4 Maglaba
									a Status: 
										span(style="color: green") Done
							li
								.feat_small_icon
									img(src='/assets/images/icons/black/trophy.png', alt='', title='')
								.feat_small_details
									h4 Magwalis
									a Status: 
										span(style="color: gold") On-going