.pages
	.page.no-toolbar.no-navbar(data-page='projects')
		.page-content
			.navbarpages
				.nav_left_logo
					a(href='index-2.html')
						img(src='/assets/images/logo.png', alt='', title='')
				.nav_right_button
					a(href='/parents/home')
						img(src='/assets/images/icons/white/menu.png', alt='', title='')
			#pages_maincontent
				h2.page_title Gantimpala |
					span#lola
					.page_content
						ul.features_list_detailed
							li
								.feat_small_icon
									img(src='/assets/images/icons/black/trophy.png', alt='', title='')
								.feat_small_details
									h4 Maglaba
								.view_more
									.item-input
										label.label-switch
											input(type='checkbox')
											.checkbox


							li
								.feat_small_icon
									img(src='/assets/images/icons/black/trophy.png', alt='', title='')
								.feat_small_details
									h4 Magwalis
								.view_more
									.item-input
										label.label-switch
											input(type='checkbox')
											.checkbox

										
